<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="franka_husky">
  <xacro:arg name="laser_enabled" default="false"/>
  <xacro:arg name="ur5_enabled" default="false"/>
  <xacro:arg name="kinect_enabled" default="false"/>

  <xacro:include filename="$(find franka_description)/robots/panda_arm.xacro"/>
  <xacro:include filename="$(find franka_description)/robots/hand.xacro"/>
  <xacro:include filename="$(find husky_description)/urdf/husky.urdf.xacro"/>

  <xacro:panda_arm arm_id="panda" connected_to="top_plate_link"  xyz="0.2 0.0 0.0"/>  
  <xacro:hand ns="panda" rpy="0 0 ${-pi/4}" connected_to="panda_link8"/>

</robot>
